<% provide(:title, @event.name) %>
<div class="row">
    <aside class="col-md-12">
        <section class="user_info">
            <%= image_tag(@event.picture, alt: "Event picture", class: "gravatar") %>
            <h1>
                <%= @event.name %>
            </h1>
            <p>
                <%= @event.date %>
            </p>
            <ul>
                <li>
                    Cuisine:
                    <%= @event.cuisine %>
                </li>
                <li>
                    Host:
                    <%= @event.host.name %>
                </li>
                <li>
                    Venue:
                    <%= @event.venue %>
                </li>
                <li>
                    Number of guests:
                    <%= @event.num_guests %>
                </li>
                <li>
                    Starters:
                    <%= @event.first_course %>
                </li>
                <li>
                    Mains:
                    <%= @event.main_course %>
                </li>
                <li>
                    Dessert:
                    <%= @event.dessert_course %>
                </li>
                <li>
                    Cost per guest: $<%= number_with_precision(@event.cost_per_pax, precision: 2) %>
                </li>
                <% if @event.host_id == session[:user_id] %>
                <li>
                    <%= link_to "edit", edit_event_path(@event) %>
                    |
                    <%= link_to "delete", @event, method: :delete, data: { confirm: "You sure?" } %>
                </li>
                <% end %>
            </ul>
        </section>
    </aside>
</div>

<%= render 'sign_me_up_form'%>

<h3> Guests confirmed - <%= @num_guests_approved %>/<%= @event.num_guests %> </h3>
<% if @signup_list.map(&:accepted).include?(true) %>
<ul class="events">
    <% @guests.each do |guest|
    if @signup_list.find_by(guest_id: guest.id).accepted %>
    <li>
        <%= link_to guest.name, guest %>
    </li>
    <% end
    end %>
</ul>
<% end %>

<% if @event.host_id == session[:user_id] && @signup_list.map(&:accepted).include?(false) %>
<h3> <%= pluralize(@guests_waiting, "Guest") %> would like to attend -  <%= pluralize(@num_seats_remaining, "seat") %>  remaining</h3>
<ul class="events">
    <% @guests.each do |guest| %>
    <% @signup_line = @signup_list.find_by(guest_id: guest.id) %>
    <% unless @signup_line.accepted %>
    <li>
        <%= link_to guest.name, guest , class: "inline-button"%>
        <% if @num_seats_remaining > 0 %>
        <div class="inline-button">
            <%= form_for(@signup_line, url: invitation_accept_path(@signup_line)) do |f| %>
            <%= hidden_field_tag 'signup[id]', @signup_line.id %>
            <%= hidden_field_tag 'signup[accepted]', true %>
            <%= f.submit value: "Accept" ,class: "inline-button" %>
            <% end %>
        </div>
        <% end %>
    </li>
    <% end %>
    <% end %>
</ul>
<% end %>
